absl-py
annotated-types
anyio
astunparse
certifi
charset-normalizer
click
colorama
dnspython
email_validator
fastapi
fastapi-cli
filelock
flatbuffers
fsspec
gast
google-pasta
grpcio
h11
h5py
httpcore
httptools
httpx
huggingface-hub
idna
Jinja2
joblib
keras
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
mysql-connector-python
namex
numpy
opt-einsum
optree
orjson
packaging
protobuf
pydantic
pydantic_core
Pygments
python-dotenv
python-multipart
PyYAML
regex
requests
rich
sacremoses
safetensors
sentencepiece
shellingham
six
sniffio
starlette
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
tf_keras
tokenizers
tqdm
transformers
typer
typing_extensions
ujson
urllib3
uvicorn
watchfiles
websockets
Werkzeug
wrapt
